.btn {
  border: none;
  min-width: 288px;
  padding: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}

.primary {
  background-color: #2b2f51;
  color: #77e8c6;
}

.secondary {
  background-color: transparent;
  border: 1px solid #2b2f51;
  color: #2b2f51;
}
